// Body
// $body-bg: #f8fafc;
$body-bg: #f8fafc;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
$blue: #1a386a; // tec
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
// $yellow: #ffed4a;
$yellow: #f9cf48; // tec
// $green: #38c172; 
$green: #265a31; // tec
$teal: #4dc0b5;
$cyan: #6cb2eb;
