// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.breadcrumb {
    background: none;
}

.swal2-confirm {
    background: #265a31 !important;
}

.swal2-cancel {
    background: #e3342f !important;
}